<div className="appContainer">
    <div id="wrapperCallForm"></div>
    <div id="wrapperQuotationForm"></div>
    <section id="wrapperCallDetailView"></section>
    <section id="wrapperCreateEnterpriseForm"></section>
	<header>
		<figure>
			<a href="/">
				<img src="#" alt="logo"/>
			</a>
		</figure>
        <div id="wrapperSearchBox"></div>
        <div id="GeneralAdministrationPanel"></div>
	</header>
    <nav class="panelUserPlattform">
        <ul>
            <li>
                <a href="#">Convocatorias</a>
            </li>
            <li>
                <a href="#">Ventas</a>
            </li>
        </ul>
    </nav>
    <div class="contairnerPrinpipalComponents">
        <div id="wrapperPrincipalComponentsPlatformView">
            <h1>Mis Convocatorias</h1>
            <div id="wrapperControlPanel">
                <nav>
                    <ul>
                        <li>
                            <span>33</span>
                            <a href="#">Todo</a>
                        </li>
                        <li>
                            <span>33</span>
                            <a href="#">Personales</a>
                        </li>
                        <li>
                            <span>33</span>
                            <a href="#">Abiertas</a>
                        </li>
                        <li>
                            <span>33</span>
                            <a href="#">Atendidas</a>
                        </li>
                        <li>
                            <span>33</span>
                            <a href="#">Completas (cambiar texto)</a>
                        </li>
                    </ul>
                </nav>
                <button>crear Convocatoria</button>
                <div>
                    <p>searcher</p>
                    <p>filtro</p>
                </div>
            </div>
            <div id="wrapperCallDetailView"></div>

        </div>
    </div>
	<footer>footer</footer>
</div>


<div>
    <div className="asideEnterpriseprofileView">
        <figure className="enterpriseImage">
            <img src="#"/>
        </figure>
        <div className="wrapperBtnHeaderEnterpriseView">
            <ul>
                <li>
                    <img src="#">
                </li>
                <li>
                    <img src="#">
                </li>
                <li>
                    <img src="#">
                </li>
                <li>
                    <img src="#">
                </li>
                <li>
                    <img src="#">
                </li>
            </ul>
            <button>agregar</button>
            <button>calificar</button>
            <button>cotizar</button>
        </div>
        <nav className="navigationEnterpriseprofileView">
            <div>
                <h1>Plaqart Estudio</h1>
                <h2>Agencia de Branding</h2>
            </div>
            <div>
                <img src="#"/>
                <p>Calificación</p>
            </div>
            <div>
                <img src="#"/>
                <p>Colaboradores</p>
            </div>
            <div>
                <img src="#"/>
                <p>Clientes y Proveedores</p>
            </div>
            <div>
                <img src="#"/>
                <p>Opiniones</p>
            </div>
        </nav>        
    </div>

    <div>
        <figure>
            <img src="#" alt="banner">
        </figure>
        <nav>
            <ul>
                <li>
                    <a href="#">Nosotros</a>
                </li>
                <li>
                    <a href="#">Catálogo</a>
                </li>
                <li>
                    <a href="#">Reconocimientos</a>
                </li>                
            </ul>
        </nav>
        <div>
            <h3>Como nos evaluan nuestros clientes</h3>
            <ul>
                <li>
                    <p>Calidad de trabajo</p>
                    <img src="#" alt="quality">
                    <ul>
                        <li></li>
                    </ul>
                </li>
                <li>
                    <p>Puntualidad</p>
                    <img src="#" alt="punctuality">
                    <ul>
                        <li></li>
                    </ul>
                </li>
                <li>
                    <p>Atención al cliente</p>
                    <img src="#" alt="customer_support">
                    <ul>
                        <li></li>
                    </ul>
                </li>
                <li>
                    <p>Precio valor</p>
                    <img src="#" alt="price">
                    <ul>
                        <li></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <h3>Red de Colaboradores</h3>
            <ul>
                <li>
                    <img src="#" alt="partner">
                    <p>enviar mensaje</p>
                    <p>Jorge Prado</p>
                    <p>Gerente de Ventas</p>
                </li>
            </ul>
        </div>
        <div>
            <div>
                <h3>Clientes</h3>
                <ul>
                    <li>
                        <img src="#" alt="enterpriseImage">
                    </li>
                </ul>
            </div>
            <div>
                <h3>Proveedores</h3>
                <ul>
                    <li>
                        <img src="#" alt="enterpriseImage">
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>